exportPattern("^[[:alpha:]]+")
import(MASS)
import(kernlab)
import(robustbase)
import(foreach)
import(parallel)
import(doParallel)
import(doRNG)
import(Matrix)
import(matrixcalc)
import(dplyr)
import(tidyr)
import(future)
import(future.apply)
import(stringr)
import(Rfast)
