exportPattern("^[[:alpha:]]+")
importFrom(MASS,ginv,mvrnorm)
importFrom(stats,rnorm,runif,quantile)
importFrom(Matrix,solve,nearPD)
importFrom(matrixcalc,is.positive.definite)
importFrom(tidyr,drop_na)
import(whitening)
import(kernlab)
import(foreach)
import(parallel)
import(doParallel)
import(doRNG)
import(future)
import(future.apply)
import(stringr)
import(Rfast)
import(mixOmics)
